body,
html,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
}

#game-space {
  position: fixed;

  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 830px;
  height: 610px;
}

.battlefield {
  grid-template-columns: repeat(11, 32px);
  grid-template-rows: repeat(11, 32px);
  display: inline-grid;
}

#player1.battlefield {
  float: left;
  margin-right: 100px;
}
#player2.battlefield {
  float: right;
}
button {
  margin-top: 20px;
  float: left;
}

.base-cell {
  height: 32px;
  border-right: 1px solid #b4b4ff;
  border-bottom: 1px solid #b4b4ff;
  box-sizing: border-box;
}

.coord-x,
.coord-y > p {
  font-family: "PT Sans", arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0px;
  line-height: 32px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.coord-x {
  border-bottom: 1px solid #b4b4ff;
}
.coord-y {
  border-right: 1px solid #b4b4ff;
}

.ship-cell,
.scoreboard-ship-cell,
.scoreboard-ship-cell-hit {
  border: 2px solid #00f;
  background: rgba(0, 0, 255, 0.2);

  box-sizing: border-box;
}

.ship-miss,
.auto-ship-miss {
  background-color: #333;
  position: relative;
  top: 41%;
  left: 40%;
  content: " ";
  height: 6px;
  width: 6px;
  background-color: #000;
  border-radius: 50%;
  display: block;
}
.ship-hit {
  border: 2px solid red;
  width: 32px;
  height: 32px;
  position: relative;
  box-sizing: border-box;
}
.ship-hit:before {
  content: "";
  height: 32px;
  border-left: 2px solid red;
  position: absolute;
  top: -2px;
  left: 13px;
  transform: rotate(45deg);
}
.ship-hit:after {
  content: "";
  height: 32px;
  border-left: 2px solid red;
  position: absolute;
  top: -2px;
  left: 13px;
  transform: rotate(-45deg);
}

.auto-ship-miss {
  background-color: rgb(131, 131, 131);
}

.scoreboard-container {
  width: 100%;
  height: 210px;
}

.scoreboard-container-p1,
.scoreboard-container-p2 {
  height: 210px;
  width: 50px;
  display: inline-block;
}
.scoreboard-container-p2 {
  float: right;
}

.scoreboard-ship-cell {
  display: inline-block;
  border-width: 1px;
  width: 12px;
  height: 12px;
}
.scoreboard-ship-cell-hit {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-width: 1px;
  border-color: red;
  background: rgba(255, 0, 0, 0.2);
}
.empty-div {
  width: 10px;
  display: block;
  height: 1px;
}
p {
  display: inline;
}
