html,
body,
#root,
#content {
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  background-color: rgb(40, 44, 52);
  height: 15%;
  width: 100%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  position: fixed;
}

form {
  position: absolute;
  width: 25%;
  height: 60%;
  background-color: red;
}
